
body
{
    /*background-color: rgba(212, 170, 32, 0.575);*/
    background-image: url(images/artur-voznenko-wm4ME1nDVUA-unsplash.jpg);
    max-width: 100%;
    height: auto;
    /*opacity: 0.8;*/
}

h1
{
    text-align: center;
    color: chocolate;
    text-shadow: 0 0 2px #c92153, 0 0 6px #0000FF;
}

/*
.button1
{
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    height: 95px;
    width: 200px;
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}
*/

.button
{
    border: none;
    color: bisque;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: large;
    margin: 6px 3px;
    transition-duration: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.button-1h
{
    background-color: transparent;
    color: #0000FF;
    border: 4px solid #0000FF;
    border-radius: 10%;
    padding: 20px 20px;
}

.button-1h:hover
{
    background-color: #3498db;
    color: white;
}

.button-1h:active
{
    background-color: #3498db;
    transform: translateY(12px);
}
