/* ... */

body
{
    /*background-color: rgba(212, 170, 32, 0.575);*/
    background-image: url(images/artur-voznenko-wm4ME1nDVUA-unsplash.jpg);
    max-width: 100%;
    height: auto;
}


h1
{
    text-align: center;
    color: chocolate;
    text-shadow: 0 0 2px #c92153, 0 0 6px #0000FF;
}

p
{
    text-align: center;
}

h2
{
    text-align: center;
    text-shadow: 0 0 2px #c92153, 0 0 3px #0000FF;
    color: rgba(57, 219, 25, 0.685);
}

.button
{
    border: none;
    color: bisque;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: large;
    margin: 6px 3px;
    transition-duration: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.button-1h
{
    background-color: white;
    color: #393bd6;
    border: 3px solid #393bd6;
}

.button-1h:hover
{
    background-color: #393bd6;
    color: white;
}

.button-2h
{
    background-color: white;
    color: #c92153;
    border: 3px solid #c92153;
}

.button-2h:hover
{
    background-color: #c92153;
    color: white;
}

.shadow
{
    color: khaki;
    font-size: 20px;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                 -1px -1px 0 #000;
}

/*
.button1
{
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    height: 95px;
    width: 200px;                                     // This button feature has been removed
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}
*/

.button-3h
{
    background-color: transparent;
    color: #0000FF;
    border: 4px solid #0000FF;
}

.button-3h:hover
{
    background-color: #0000FF;
    color: white;
}
