/*
    This is the CSS file for the contactMe.html file. 

*/

body
{
    /*background-color: rgba(212, 170, 32, 0.575);*/
    background-image: url(images/artur-voznenko-wm4ME1nDVUA-unsplash.jpg);
    max-width: 100%;
    height: auto;
    /*opacity: 0.8;*/
}

/*
*
{
    box-sizing: border-box;
}
*/

h1
{
    text-align: center;
    color: chocolate;
    text-shadow: 0 0 2px #c92153, 0 0 6px #0000FF;
}

p
{
    text-align: center;
}

h2
{
    text-align: center;
    text-shadow: 0 0 2px #c92153, 0 0 3px #0000FF;
    color: rgba(57, 219, 25, 0.685);
}

.button
{
    border: none;
    color: bisque;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: large;
    margin: 6px 3px;
    transition-duration: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.button-1h
{
    background-color: white;
    color: #393bd6;
    border: 3px solid #393bd6;
}

.button-1h:hover
{
    background-color: #393bd6;
    color: white;
}

.button-2h
{
    background-color: white;
    color: #c92153;
    border: 3px solid #c92153;
}

.button-2h:hover
{
    background-color: #c92153;
    color: white;
}

.shadow
{
    color: khaki;
    font-size: 20px;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                 -1px -1px 0 #000;
}

/*
.button1
{
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    height: 95px;
    width: 200px;                                     // This button feature has been removed, there's a new button feature.
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}
*/

.button-4h
{
    background-color: transparent;
    color: #0000FF;
    border: 4px solid #0000FF;
    border-radius: 10%;
    padding: 20px 20px;
}

.button-4h:hover
{
    background-color: #3498db;
    color: white;
}

.button-4h:active
{
    background-color: #3498db;
    /*box-shadow: 0 5px #666;*/
    transform: translateY(12px);
}

.button-3h
{
    background-color: white;
    color: black;
    border: 4px solid black;
}

.button-3h:hover
{
    background-color: rgb(65, 54, 54);
    color: white;
}

.sidenav
{
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(92, 85, 85);
    overflow-x: hidden;
}

.sidenav a
{
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.sidenav a:hover
{
    background-color: #ddd;
    color: black;
    transition-duration: 0.5s;
}

.content
{
    margin-left: 100px;
    /*padding: 20px;*/
}

/*
div.midtransbox
{
    margin: 25px;
    background-color: whitesmoke;
    border: 1px solid black;
    opacity: 0.5;
}
*/

a
{
    text-decoration: none;
}

.buttonTestNav
{
    background-color: transparent;
    color: #0000FF;
    border: 4px solid #0000FF;
    border-radius: 50%;
    padding: 20px 20px;
}

.buttonTestNav:hover
{
    background-color: #ce8930;
    color: white;
}