body
{
    background-color: #ffd9b3;
}

h2
{
   text-align: center;
}

p
{
    text-align: center;
    font-style: "font-family: Georgia, 'Times New Roman', Times, serif";
    border: 20px;
    font-weight: 600;
    margin: 40px 20px 20px 20px;
}

img
{
    align-content: center;
    height: 10%;
    width: 10%;
    alt: "Picture of Nilankan";
}

h3
{
    text-align: center;
}